.card {
  width: 100%;
  max-width: 291px;
  max-height: 84px;
}

.img-card {
  min-width: 97px;
  min-height: 84px;
}

.text-description {
  font-size: 10px;
}

.color {
  background-color: #ef8f41e3;
}

.description {
  font-size: 9px;
}

.span {
  margin: -2px;
}